header {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.links {
    display: flex;
    align-items: center;
    gap: 10px;
}

a {
    color: white
}